<h4>
  Internal Server Error- Refreshing the page will make the Error disappear!
</h4>

<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{ error.message }}</h5>
  <p class="font-weight-bold">
    Note: If you are seeing this then Angular is probably not to be blamed
  </p>
  <p>What to do Next?</p>
  <ol>
    <li>Open the Chrome dev tools</li>
    <li>Inspect the network Tab</li>
    <li>Check the failing Request</li>
    <li>Examine the request URL - make sure it is correct</li>
    <li>
      Reproduce the Error in Postman - If we see the same response, Then the
      issue is not Angular
    </li>
  </ol>
  <p>Following is the stack trace - This is where your investigation should start!</p>
  <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</ng-container>
